<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd"> 
    
<hibernate-configuration>
    <session-factory>        
        <mapping class="com.deathNote.model.Person" />
        <mapping class="com.deathNote.model.Event" />
        <mapping class="com.deathNote.model.Episode" />
        <mapping class="com.deathNote.model.Picture" />
        <mapping class="com.deathNote.model.Admin" />
    </session-factory>       
</hibernate-configuration>