@import url("fonts.css");

body {
	background: black;
}
/* CONTAINER */
#episodes-deathnote {
	position: absolute;
	top: 100px;
	display: block;
	text-align: center;
	margin: 0 auto;
}

/* ARTICLE */
article.embed-episode {
	display: inline-block;
	margin: 10px 15px;
	vertical-align: top;
	max-width: 300px;
	overflow:hidden;
	text-overflow: ellipsis;
}

/* IFRAME */
article.embed-episode>iframe {
	border:none;
}

/* TITLE */
article.embed-episode > .episode-title {
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 0px;
	font-family: 'deathnote-title';
	color: #ffffff;
	font-size: 1.5em;
}

/* BUTTON TO OPEN/CLOSE INFORMATIONS */
span.info-accordion::after {
	content: '\25BC';
	float: right;
	position: relative;
	top: -20px;
    background: none;
    color: #ffffff;
    cursor: pointer;
    text-align: center;
    outline: none;
    width: 1.4em;
    height: 1.4em;
    font-size: 10px;
    transition: 0.4s;
}
span.info-accordion.active::after, span.info-accordion:hover::after {
	color: rgba(255,255,255,0.7);
}
span.info-accordion.active::after {
   	content: '\25B2';
}

/* CONTAINER OF INFORMATIONS */
div.informations-episode {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    opacity: 0;
    margin-bottom: 20px;
}
/* CONTAINER OF INFORMATIONS OPENED */
div.informations-episode.show {
    opacity: 1;
    max-height: 200px;
}

/* INFORMATIONS */
div.informations-episode>p{
	color: white;
	font-family: "god-of-death";
	font-size:13px;
	font-weight: bold;
	text-align: justify;
    text-justify: inter-word;
	margin-top: 5px;
}