@import url("fonts.css");

/*
CSS of the modal-deathnotetimeline plugin.
This css doesn't handle responsive design for the specified component.
QUESTIONS ? ---------------
  What is a modal?
    * a window that will open in order to contain some informations about a specified subject.
*/


/* The Modal (background) */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(200,40,0, 0.5);
}
.modal-content::after {
  content: "";
  background: url(http://www.geekgirlauthority.com/wp-content/uploads/2016/10/Death-Note-1.jpg);
  background-size: cover;
  opacity: 0.5;
  position: fixed;
  z-index: -1;  
}

/* Modal Content/Box */
.modal-content {
    background-color: #f6f4dd;
    background-image: linear-gradient(transparent 21px, rgba(200,200,180,1) 24px, transparent 24px);
    background-size: 100% 24px;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 500px;
    color: black;
    box-shadow: 10px 20px 100px black;
}

/* CLOSE BUTTON */
.modal-closer {
    color: rgba(139, 11, 27, 0.6);
    float: right;
    font-size: 32px;
    font-weight: bold;
}

.modal-closer:hover,
.modal-closer:focus {
    color: rgba(160, 11, 27, 1);
    text-decoration: none;
    cursor: pointer;
}

/* TITLE */
div.modal-event-title {
	background: #000000;
    margin-left: -21px;
    padding: 6px 20px;
    width: 375px;
    box-shadow: 0px 5px 5px rgba(120, 120, 120, 0.7);
}

div.modal-event-title > input[type=text]{
	background:none;
	font-family : 'deathnote-title';
	border:none;
	color:white;
	font-size: 25px;
	width: 100%;

}

/* IMAGE */
.event-picture {
position: relative;
text-align: center;
transform: rotate(5deg);
display: inline-block; *display: inline; zoom: 1;
margin: 50px auto;
}

.taped:before, .taped:after {
content: "";
display: block;
width: 120px;
height: 30px;
position: relative;
top: 20px;
margin: auto;
background: rgba(255,240,240,0.5);
-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}

.event-picture img {
display: inline-block; *display: inline; zoom: 1;
border: 1px solid #ddd;
margin: 0 20px;
padding: 8px;
background: #fff;
text-align:center;
vertical-align:top;
-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
}
.taped:before, .taped:after {
position: absolute;
top: 10px;
}
.taped:before {
left: 0;
-webkit-transform: rotate(-45deg);
-moz-transform: rotate(-45deg);
transform: rotate(-45deg);
}
.taped:after {
top: inherit;
bottom: 10px;
right: 0;
-webkit-transform: rotate(-35deg);
-moz-transform: rotate(-35deg);
transform: rotate(-35deg);
}
.event-picture img {
display: inline-block; *display: inline; zoom: 1;
border: 1px solid #ddd;
margin: 0 20px;
padding: 8px;
background: #fff;
  text-align:center;
  vertical-align:top;
-webkit-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
-moz-box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
box-shadow: 0px 1px 3px rgba(0,0,0,0.4);
  max-width: 400px;
  height: auto;
  max-height: 800px;
}

/* INFORMATIONS EVENT */
div.event-informations {
	margin-top: 0px;
}
div.event-informations div {
	display: inline-block;
}
div.event-informations span, div.event-informations input {
	font-family: 'handwriting';
	font-size:32px;
	display: inline-block;
}
/* DATETIME */
div.event-informations span {
	margin : 0 10px;
}
div.event-informations input {
	background:none;
	border:none;
}
div.event-informations div.event-period input {
	max-width: 200px;
	padding: 10px 15px;
}
/* LOCALISATION OF EVENT */
div.event-informations .event-location{
	width: 90%;

}
div.event-informations .event-location input {
	font-size: 28px;
	width: 100%;
	text-align: right;
	padding: 5px 15px;
	font-style: italic;
} 

/* DESCRIPTION */
div.event-description textarea {
	width:95%;
	border:none;
	font-family: 'handwriting';
	font-size:20px;
	background:none;
    margin-top: 12px;
    padding: 5px 15px;
    height: 200px;
}

/* POINT OF VIEW */
span.pov-title {
	font-family: 'handwriting';
	text-decoration: underline;
	text-align: left;
	font-size:24px;
}
.event-pov > *{
	text-align: center;
	margin: 0 auto;
}
.event-pov label {
	cursor: pointer;
	font-family: 'l-police';
	font-size:45px;
	display: block;
	text-align:center;
	width:200px;
	height:80px;
}
.event-pov label::before {
	content: '';
	display: block;
	width:200px;
	height:70px;
	margin-bottom: -65px;
	margin-left: 10px;
}
.event-pov input[type=radio] {
	display: none;
}
.event-pov input[type=radio]:checked + label::before {
	content: '';
	background-image: url("../../img/checked.png");
	background-position: 0px 0px;
	background-size: 180px 70px;
    background-repeat: no-repeat;
    animation: drawCercle;
    animation-duration: .5s;  
}

@keyframes drawCercle {
	0% {
	opacity:0;
	}
	100% {
	opacity:1;
	}
}

/* EPISODE */
div.event-episode {
	background: black;
	padding-top: 40px;
	width:542px;
	margin-left: -21px;
	text-align:center;
}
span.question-episode {
	font-family: 'ryuk';
	font-size:24px;
	color:#ffffff;
}
div#shinigami-eye img {
	cursor: pointer;
}
div.episode-picker {
    padding: 20px 18px;
    max-height: 0;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    text-align: center;
    opacity: 0;
    margin-bottom: 20px;
}
div.episode-picker.show {
    opacity: 1;
    max-height: 200px;
}
div.episode-picker label {
	font-family: 'ryuk';
	font-size:28px;
	color:#ffffff;
	text-align: center;
}
select.select-episode {
	margin-top: 15px;
	border:none;
	background: none;
	border-bottom: 2px solid rgb(170,170,170);
	font-family: 'deathnote-title';
	color: rgb(170,170,170);
	font-size: 24px;
}

/* SUBMIT INPUT */
input[type=submit] {
	display: block;
	text-transform: uppercase;
	cursor: pointer;
	font-family: 'deathnote-cover';
	color: #ffffff;
	text-shadow: 1px 1px 10px #000000;
	background-color : #ae0023;
	border: 3px solid #5b0c1c;
	width:220px;
	height:80px;
	text-align: center;
	margin:0 auto;
	border-radius: 10px;
}
input[type=submit]:hover {
	background-color: #e0002d;
}

input[type=submit]:active {
	background-color: transparent;
	color: #ae0023;
	border: 3px solid #ae0023;
}

.notifier {
	position: fixed;
	bottom:4%;
	right:-25%;
	width:300px;
	height:100px;
	background:#cbcbcb;
	z-index:900;
	border-radius:10px;
	text-align:center;
	animation: comeFromRight;
	padding-top:10px;
	font-family:"deathnote";
	animation-duration: 2s;
	-webkit-box-shadow: -11px 13px 28px 0px rgba(189,189,189,0.3);
	-moz-box-shadow: -11px 13px 28px 0px rgba(189,189,189,0.3);
	box-shadow: -11px 13px 28px 0px rgba(189,189,189,0.3);
}

@keyframes comeFromRight {
	0% {
	right:-20%;
	}
	50%,90% {
	right:0; 
	}
	100%{
	right:-20%;
	}
}

/* DOWNLOADED TABLE */
.datagrid table { border-collapse: collapse; text-align: left; width: 100%; } .datagrid {font: normal 12px/150% Arial, Helvetica, sans-serif; background: #fff; overflow: hidden; border: 1px solid #991821; -webkit-border-radius: 8px; -moz-border-radius: 8px; border-radius: 8px; }.datagrid table td, .datagrid table th { padding: 6px 12px; }.datagrid table thead th {background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #991821), color-stop(1, #80141C) );background:-moz-linear-gradient( center top, #991821 5%, #80141C 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#991821', endColorstr='#80141C');background-color:#991821; color:#FFFFFF; font-size: 15px; font-weight: bold; border-left: 1px solid #B01C26; } .datagrid table thead th:first-child { border: none; }.datagrid table tbody td { color: #80141C; border-left: 1px solid #F7CDCD;font-size: 12px;font-weight: normal; }.datagrid table tbody .alt td { background: #F7CDCD; color: #80141C; }.datagrid table tbody td:first-child { border-left: none; }.datagrid table tbody tr:last-child td { border-bottom: none; }.datagrid table tfoot td div { border-top: 1px solid #991821;background: #F7CDCD;} .datagrid table tfoot td { padding: 0; font-size: 12px } .datagrid table tfoot td div{ padding: 2px; }.datagrid table tfoot td ul { margin: 0; padding:0; list-style: none; text-align: right; }.datagrid table tfoot  li { display: inline; }.datagrid table tfoot li a { text-decoration: none; display: inline-block;  padding: 2px 8px; margin: 1px;color: #FFFFFF;border: 1px solid #991821;-webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #991821), color-stop(1, #80141C) );background:-moz-linear-gradient( center top, #991821 5%, #80141C 100% );filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#991821', endColorstr='#80141C');background-color:#991821; }.datagrid table tfoot ul.active, .datagrid table tfoot ul a:hover { text-decoration: none;border-color: #80141C; color: #FFFFFF; background: none; background-color:#991821;}div.dhtmlx_window_active, div.dhx_modal_cover_dv { position: fixed !important; }