/*
CSS of the menu-deathnote plugin.
This css doesn't handle responsive design for the specified component.

QUESTIONS ? ---------------
  What is a menu?
    * a navigation bar that will open when clicking on specified span.
*/



@font-face {
	font-family: 'deathnote';
	src: url('../fonts/DEATHNOTEFont.ttf');
}

.sideBarNav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 50;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sideBarNav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 35px;
    color: #818181;
    display: block;
    transition: 0.3s;
    font-family:'deathnote';
}

.sideBarNav > span {
    color:#c0c0c0;
    cursor:pointer;
}

.sideBarNav a:hover, .offcanvas a:focus, .sideBarNav>span:hover{
    color: #f1f1f1;
}

.sideBarNav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}
