body,html {
	background-color: black;
}

table, td, tr {
	border:1px solid red;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
    z-index:3;
}

button {
	z-index:78;
}

/* --------------------------------------------
	Background animation effect Stars-Twinkling
	-------------------------------------------
*/
@keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
    from {background-position:0 0;}
    to {background-position:-10000px 5000px;}
}

.stars, .twinkling {
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
  width:250%;
  height:100%;
  display:block;
}

.stars {
  background:transparent url('../img/stars.png') repeat top center;
  z-index:-2;
}

.twinkling{
  background:transparent url('../img/twinkling.png') repeat top center;
  z-index:-1;

  -moz-animation:move-twink-back 200s linear infinite;
  -ms-animation:move-twink-back 200s linear infinite;
  -o-animation:move-twink-back 200s linear infinite;
  -webkit-animation:move-twink-back 200s linear infinite;
  animation:move-twink-back 200s linear infinite;
}

/* -----------------------------
	End Background stars effect
	-----------------------------
*/


/* -------------------
	Ryuk login admin
	------------------
*/
#admin-ryuk-connection {
	z-index:9000;
	position:fixed;
	width:100%;
	height:100%;
	top:0;
	left:0;
	background-color: rgba(0, 0, 0, 0.86);
	display:none;
}

#admin-ryuk-connection > span {
	color:#b3b3b3;
	position: fixed;
	right: 20%;
	top:10%;
	font-size:40px;
	cursor:pointer;
}

#admin-ryuk-connection > span:hover {
	color:white;
}

.mrRyuk {
	position:absolute;
	top:20%;
	left:20%;
}

#admin-ryuk-connection > form {
	display:flex;
	position:fixed;
	flex-direction:column;
	top:30%;
	left:40%;
	height:200px;
	width:400px;
}

#admin-ryuk-connection > form > span {
	font-family:'deathnote';
	font-size:55px;
	text-align:center;
	color:#b3b3b3;
}

#admin-ryuk-connection > form > input[type=text] {
    border:none;
    background-color:transparent;
    border-bottom: 3px solid #555;
	color:#b3b3b3;
	transition:.5s;
	font-size:25px;
}

#admin-ryuk-connection > form > input[type=text]:focus {
    border:none;
    transition:.8s;
    border-bottom: 3px solid white;
    color:white;
}

#admin-ryuk-connection > form > p {
	font-family:'Lato';
	color: #b3b3b3;
}

#admin-ryuk-connection > form > p > a {
	color:white;
}

#admin-ryuk-connection > form > p > a:hover {
	color:#d2ffff;
}